$ma-zwart: #000;
$ma-roze: #E62686;
$ma-roze-hover: #CD2076;
$border-radius: 2px;
$grijs: #DCDCDC;

@-moz-keyframes riple{
  0%{
    transform: scale(0);
    opacity: 1;
  }

  100%{
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes riple{
  0%{
    transform: scale(0);
    opacity: 1;
  }

  100%{
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes riple{
  0%{
    transform: scale(0);
    opacity: 1;
  }

  100%{
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes riple-radio{
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}

@-webkit-keyframes riple-radio{
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes riple-radio{
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}


.mui-radio,
.mui-checkbox {
  position: relative;
  display: inline-block;
  text-align: left;
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.mui-radio input,
.mui-checkbox input{
  display: none
}

.mui-radio > label,
.mui-checkbox > label {
  min-height: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;

}

.mui-checkbox > label {
    width: 20px;
    height: 24px;
    display: inline-block;
    white-space: nowrap;
    text-indent: 30px;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid $ma-roze;
    border-radius: 2px;
}

.mui-checkbox input[type=checkbox]:disabled+label{
   border: 2px solid #999;
}

.mui-checkbox input[type=checkbox]:checked+label{
  background-color: $ma-roze;
   border-color: $ma-roze;
}

    .mui-checkbox input[type=checkbox]:checked + label::after,
    .mui-checkbox input[type=checkbox]:checked + label::before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        display: table;
        content: '';
    }

    .mui-checkbox input[type=checkbox]:checked + label::before {
        border-color: #fff;
        background-color: $ma-roze;
        border-radius: 35px;
        right: -15px;
        top: -14px;
        width: 50px;
        height: 50px;
        opacity: 0;
        -moz-animation: riple 800ms;
        -o-animation: riple 800ms;
        -webkit-animation: riple 800ms;
        animation: riple 800ms;
    }

    .mui-checkbox input[type=checkbox]:checked + label::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 6px;
        top: 1px;
        width: 7px;
        height: 13px;
        border-width: 2px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
    }

.mui-radio > label {
    width: 20px;
    height: 24px;
    display: inline-block;
    white-space: nowrap;
    text-indent: 30px;
    cursor: pointer;
    border: 2px solid #666;
    border-radius:12px;
}

.mui-radio input[type=radio]:disabled+label{
  border-color: #999;
}

.mui-radio input[type=radio]:checked+label{
   border-color: $ma-roze;
}

    .mui-radio input[type=radio]:checked + label::before,
    .mui-radio input[type=radio]:checked + label::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        display: table;
        border-color: #fff;
        background-color: $ma-roze;
        border-radius: 35px;
        content: '';
    }

    .mui-radio input[type=radio]:checked + label::before {
        right: -13px;
        top: -13px;
        width: 50px;
        height: 50px;
        opacity: 0;
        -moz-animation: riple 800ms;
        -o-animation: riple 800ms;
        -webkit-animation: riple 800ms;
        animation: riple 800ms;
    }

    .mui-radio input[type=radio]:checked + label::after {
        right: 5px;
        top: 5px;
        width: 14px;
        height: 14px;
        opacity: 1;
        -moz-animation: riple-radio 400ms;
        -o-animation: riple-radio 400ms;
        -webkit-animation: riple-radio 400ms;
        animation: riple-radio 400ms;
    }

.mui-radio > label > input[type="radio"],
.mui-radio--inline > label > input[type="radio"],
.mui-checkbox > label > input[type="checkbox"],
.mui-checkbox--inline > label > input[type="checkbox"] {
  position: absolute;
  margin-right: -20px;
  margin-top: 4px;
}

.mui-radio + .mui-radio,
.mui-checkbox + .mui-checkbox {
}

.mui-radio--inline,
.mui-checkbox--inline {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.mui-radio--inline > input[type="radio"],
.mui-radio--inline > input[type="checkbox"],
.mui-radio--inline > label > input[type="radio"],
.mui-radio--inline > label > input[type="checkbox"],
.mui-checkbox--inline > input[type="radio"],
.mui-checkbox--inline > input[type="checkbox"],
.mui-checkbox--inline > label > input[type="radio"],
.mui-checkbox--inline > label > input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}

.mui-radio--inline + .mui-radio--inline,
.mui-checkbox--inline + .mui-checkbox--inline {
  margin-top: 0;
  margin-right: 10px;
}
